Repository equinixmetal-images/changelog, changes with the labels that .github/labeler.yml gives for each.
All labels: alma, alpine, centos, debian, rhel, rocky, ubuntu, windows

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for rhel_7-x86_64
  rhel/x86_64/7.md
Labels: rhel

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian

changelog update for rhel_8-x86_64
  rhel/x86_64/8.md
Labels: rhel

changelog update for centos_7-x86_64-added_drivers
  centos/x86_64/7.md
Labels: centos

changelog update for rocky_9-aarch64
  rocky/aarch64/9.md
Labels: rocky

changelog update for alma_8-x86_64-pinned_version
  alma/x86_64/8.md
Labels: alma

changelog update for alpine_3-aarch64
  alpine/aarch64/3.md
Labels: alpine

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-aarch64
  ubuntu/aarch64/18_04.md
Labels: ubuntu

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

Changelog update for talos
  talos/talos_v1.md
Labels: none

changelog update for rhel_8-x86_64
  rhel/x86_64/8.md
Labels: rhel

Changelog update for vyos
  vyos/vyos_1_3.md
Labels: none

Changelog update for windows 2022
  windows 2022/windows_2022.md
Labels: none

changelog update for ubuntu_24_04-x86_64
  ubuntu/x86_64/24_04.md
Labels: ubuntu

Changelog update for talos
  talos/talos_v1.md
Labels: none

remove: redundant FreeBSD directories
  freebsd 11/freebsd_11.md
  freebsd 14/freebsd_14.md
Labels: none

remove: redundant FreeBSD directories (#33)
  freebsd 11/freebsd_11.md
  freebsd 14/freebsd_14.md
Labels: none

Changelog update for flatcar
  flatcar/flatcar_beta.md
Labels: none

Changelog update for flatcar
  flatcar/flatcar_stable.md
Labels: none

Changelog update for windows 2019
  windows 2019/windows_2019.md
Labels: none

changelog update for ubuntu_24_04-aarch64
  ubuntu/aarch64/24_04.md
Labels: ubuntu

changelog update for ubuntu_24_04-x86_64
  ubuntu/x86_64/24_04.md
Labels: ubuntu

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

Changelog update for talos
  talos/talos_v1.md
Labels: none

changelog update for rhel_9-x86_64
  rhel/x86_64/9.md
Labels: rhel

changelog update for rhel_9-x86_64
  rhel/x86_64/9.md
Labels: rhel

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

Changelog update for talos
  talos/talos_v1.md
Labels: none

Changelog update for flatcar
  flatcar/flatcar_stable.md
Labels: none

Changelog update for flatcar
  flatcar/flatcar_beta.md
Labels: none

changelog update for centos_7-x86_64-added_drivers
  centos/x86_64/7.md
Labels: centos

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

.github/labeler.yml:

alma:
  - "alma/**"
alpine:
  - "alpine/**"
centos:
  - "centos/**"
debian:
  - "debian/**"
rhel:
  - "rhel/**"
rocky:
  - "rocky/**"
ubuntu:
  - "ubuntu/**"
windows:
  - "windows/**"
