Repository equinixmetal-images/changelog, changes with the labels that .github/labeler.yml gives for each.
All labels: alma, alpine, centos, debian, rhel, rocky, ubuntu, windows

changelog update for debian_12-x86_64
  debian/x86_64/12.md
Labels: debian

changelog update for rocky_9-aarch64
  rocky/aarch64/9.md
Labels: rocky

changelog update for ubuntu_18_04-x86_64-added_drivers
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for ubuntu_18_04-aarch64
  ubuntu/aarch64/18_04.md
Labels: ubuntu

changelog update for alpine_3-aarch64
  alpine/aarch64/3.md
Labels: alpine

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for debian_11-x86_64-added_drivers
  debian/x86_64/11.md
Labels: debian

changelog update for debian_10-x86_64-added_drivers
  debian/x86_64/10.md
Labels: debian

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

Changelog update for flatcar
  flatcar/flatcar_beta.md
Labels: none

Changelog update for flatcar
  flatcar/flatcar_stable.md
Labels: none

Changelog update for windows 2022
  windows 2022/windows_2022.md
Labels: none

Changelog update for windows 2019
  windows 2019/windows_2019.md
Labels: none

merge: old and new Windows changelogs
  windows 2019/windows_2019.md
  windows 2022/windows_2022.md
  windows/x86_64/2019.md
  windows/x86_64/2022.md
Labels: windows

merge: old and new Talos changelogs
  talos/talos_v1.md
  talos/v1.md
Labels: none

merge: old and new Talos changelogs (#29)
  talos/talos_v1.md
  talos/v1.md
Labels: none

merge: old and new Windows changelogs (#28)
  windows 2019/windows_2019.md
  windows 2022/windows_2022.md
  windows/x86_64/2019.md
  windows/x86_64/2022.md
Labels: windows

Changelog update for flatcar
  flatcar/flatcar_beta.md
Labels: none

Changelog update for flatcar
  flatcar/flatcar_stable.md
Labels: none

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for debian_12-x86_64
  debian/x86_64/12.md
Labels: debian

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

Changelog update for talos
  talos/talos_v1.md
Labels: none

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-w3tintel_8358_512_6080
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-aarch64
  ubuntu/aarch64/18_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64-added_drivers
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian

.github/labeler.yml:

alma:
  - "alma/**"
alpine:
  - "alpine/**"
centos:
  - "centos/**"
debian:
  - "debian/**"
rhel:
  - "rhel/**"
rocky:
  - "rocky/**"
ubuntu:
  - "ubuntu/**"
windows:
  - "windows/**"
