Repository equinixmetal-images/changelog, changes with the labels that .github/labeler.yml gives for each.
All labels: alma, alpine, centos, debian, rhel, rocky, ubuntu, windows

.github/labeler.yml:

alma:
  - "alma/**"
alpine:
  - "alpine/**"
centos:
  - "centos/**"
debian:
  - "debian/**"
rhel:
  - "rhel/**"
rocky:
  - "rocky/**"
ubuntu:
  - "ubuntu/**"
windows:
  - "windows/**"

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for rocky_8-x86_64-pinned_version
  rocky/x86_64/8.md
Labels: rocky

changelog update for centos_7-x86_64
  centos/x86_64/7.md
Labels: centos

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64-added_drivers
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64-added_drivers
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-aarch64
  ubuntu/aarch64/18_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-w3tintel_8358_512_6080
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for alma_8-x86_64
  alma/x86_64/8.md
Labels: alma

changelog update for rocky_8-x86_64-pinned_version
  rocky/x86_64/8.md
Labels: rocky

changelog update for ubuntu_18_04-aarch64
  ubuntu/aarch64/18_04.md
Labels: ubuntu

changelog update for centos_7-x86_64
  centos/x86_64/7.md
Labels: centos

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian
