Repository equinixmetal-images/changelog, changes with the labels that .github/labeler.yml gives for each.
All labels: alma, alpine, centos, debian, rhel, rocky, ubuntu, windows

.github/labeler.yml:

alma:
  - "alma/**"
alpine:
  - "alpine/**"
centos:
  - "centos/**"
debian:
  - "debian/**"
rhel:
  - "rhel/**"
rocky:
  - "rocky/**"
ubuntu:
  - "ubuntu/**"
windows:
  - "windows/**"

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for alma_9-x86_64
  alma/x86_64/9.md
Labels: alma

changelog update for alma_8-x86_64-added_drivers
  alma/x86_64/8.md
Labels: alma

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for centos_7-x86_64-added_drivers
  centos/x86_64/7.md
Labels: centos

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

misc: fix column alignment where possible
  README.md
Labels: none

freebsd: add 13.1 and 13.2 lifecycles
  README.md
  freebsd/aarch64/13.1.md
  freebsd/aarch64/13.2.md
  freebsd/amd64/13.1.md
  freebsd/amd64/13.2.md
Labels: none

update: fix FreeBSD links
  README.md
  freebsd/aarch64/13.1.md
  freebsd/aarch64/13.2.md
  freebsd/amd64/13.1.md
  freebsd/amd64/13.2.md
  freebsd/arm64/13.1.md
  freebsd/arm64/13.2.md
  freebsd/x86_64/13.1.md
  freebsd/x86_64/13.2.md
Labels: none

add: talos v.1.4.1 changelog
  talos/v1.md
Labels: none

change: rename freebsd md files
  README.md
  freebsd/arm64/13_1.md
  freebsd/arm64/13_2.md
  freebsd/x86_64/13_1.md
  freebsd/x86_64/13_2.md
Labels: none

add: talos v.1.4.1 changelog (#24)
  talos/v1.md
Labels: none

update: fix FreeBSD links (#23)
  README.md
  freebsd/aarch64/13.1.md
  freebsd/aarch64/13.2.md
  freebsd/amd64/13.1.md
  freebsd/amd64/13.2.md
  freebsd/arm64/13_1.md
  freebsd/arm64/13_2.md
  freebsd/x86_64/13_1.md
  freebsd/x86_64/13_2.md
Labels: none

update: Windows Server 2019/2022 for April 2023
  windows/x86_64/2019.md
  windows/x86_64/2022.md
Labels: windows

update: Windows Server 2019/2022 for April 2023 (#25)
  windows/x86_64/2019.md
  windows/x86_64/2022.md
Labels: windows

update: Talos link in README table
  README.md
Labels: none

update: Talos link in README table (#26)
  README.md
Labels: none

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for alma_8-x86_64-pinned_version
  alma/x86_64/8.md
Labels: alma

changelog update for alma_8-x86_64
  alma/x86_64/8.md
Labels: alma

changelog update for alma_8-x86_64-added_drivers
  alma/x86_64/8.md
Labels: alma

changelog update for debian_11-x86_64-added_drivers
  debian/x86_64/11.md
Labels: debian

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for centos_7-x86_64-added_drivers
  centos/x86_64/7.md
Labels: centos

changelog update for rocky_9-aarch64
  rocky/aarch64/9.md
Labels: rocky

changelog update for centos_7-x86_64
  centos/x86_64/7.md
Labels: centos

changelog update for rocky_8-aarch64
  rocky/aarch64/8.md
Labels: rocky

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for debian_10-x86_64-added_drivers
  debian/x86_64/10.md
Labels: debian

changelog update for rocky_8-x86_64-pinned_version
  rocky/x86_64/8.md
Labels: rocky

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for rocky_8-x86_64
  rocky/x86_64/8.md
Labels: rocky

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for alpine_3-aarch64
  alpine/aarch64/3.md
Labels: alpine

changelog update for rhel_8-x86_64
  rhel/x86_64/8.md
Labels: rhel

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu
