Repository equinixmetal-images/changelog, changes with the labels that .github/labeler.yml gives for each.
All labels: alma, alpine, centos, debian, rhel, rocky, ubuntu, windows

.github/labeler.yml:

alma:
  - "alma/**"
alpine:
  - "alpine/**"
centos:
  - "centos/**"
debian:
  - "debian/**"
rhel:
  - "rhel/**"
rocky:
  - "rocky/**"
ubuntu:
  - "ubuntu/**"
windows:
  - "windows/**"

changelog update for ubuntu_18_04-aarch64
  ubuntu/aarch64/18_04.md
Labels: ubuntu

changelog update for rocky_8-aarch64
  rocky/aarch64/8.md
Labels: rocky

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for rocky_9-aarch64
  rocky/aarch64/9.md
Labels: rocky

changelog update for ubuntu_22_04-aarch64-nvidia
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for alpine_3-aarch64
  alpine/aarch64/3.md
Labels: alpine

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

Fixing 404s README.md
  README.md
Labels: none

changelog update for alma_9-x86_64
  alma/x86_64/9.md
Labels: alma

Fixing 404s README.md (#35)
  README.md
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Labels: none

Changelog update for vyos
  vyos/vyos_1_4.md
Labels: none

Updates to reflect EOL'ed OSes
  README.md
  centos/x86_64/7.md
  centos/x86_64/8.md
  debian/aarch64/10.md
  debian/x86_64/10.md
  nixos/nixos_23_05.md
  rhel/x86_64/7.md
  talos/talos_v1.md
  ubuntu/aarch64/18_04.md
  ubuntu/x86_64/14_04.md
  ubuntu/x86_64/16_04.md
  ubuntu/x86_64/18_04.md
Labels: centos, debian, rhel, ubuntu

Add missing OSes to the support schedule
  README.md
Labels: none

Add NixOS and Talos to EOL list
  README.md
Labels: none

Remove Windows 2019, re-add VyOS 1.3
  README.md
Labels: none

changelog update for rhel_8-x86_64
  rhel/x86_64/8.md
Labels: rhel

changelog update for rhel_9-x86_64
  rhel/x86_64/9.md
Labels: rhel

Updates to reflect current and EOL'ed OSes
  README.md
  centos/x86_64/7.md
  centos/x86_64/8.md
  debian/aarch64/10.md
  debian/x86_64/10.md
  nixos/nixos_23_05.md
  rhel/x86_64/7.md
  talos/talos_v1.md
  ubuntu/aarch64/18_04.md
  ubuntu/x86_64/14_04.md
  ubuntu/x86_64/16_04.md
  ubuntu/x86_64/18_04.md
  windows 2019/windows_2019.md
Labels: centos, debian, rhel, ubuntu

Add Debian 12, remove Talos
  README.md
Labels: none

Correct Red Hat Linux data
  README.md
Labels: none

changelog update for debian_11-x86_64-added_drivers
  debian/x86_64/11.md
Labels: debian

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-w3tintel_8358_512_6080
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for alpine_3-x86_64
  alpine/x86_64/3.md
Labels: alpine

changelog update for alma_8-x86_64-added_drivers
  alma/x86_64/8.md
Labels: alma

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for alma_9-x86_64
  alma/x86_64/9.md
Labels: alma

changelog update for rhel_9-x86_64
  rhel/x86_64/9.md
Labels: rhel

changelog update for rocky_9-aarch64
  rocky/aarch64/9.md
Labels: rocky
