Repository equinixmetal-images/changelog, changes with the labels that .github/labeler.yml gives for each.
All labels: alma, alpine, centos, debian, rhel, rocky, ubuntu, windows

Making OS names correlate with API
  README.md
Labels: none

VMware name change
  README.md
Labels: none

Amending table alignment.
  README.md
Labels: none

"Windows Server"
  README.md
Labels: none

changelog update for ubuntu_18_04-x86_64-added_drivers
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

fix readme table
  README.md
Labels: none

sort os table
  README.md
Labels: none

add talos v1 changelog
  README.md
  talos/v1.md
Labels: none

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for alma_9-x86_64
  alma/x86_64/9.md
Labels: alma

changelog update for alma_8-x86_64
  alma/x86_64/8.md
Labels: alma

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-aarch64
  ubuntu/aarch64/18_04.md
Labels: ubuntu

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for debian_10-aarch64
  debian/aarch64/10.md
Labels: debian

changelog update for rocky_8-aarch64
  rocky/aarch64/8.md
Labels: rocky

changelog update for debian_10-x86_64
  debian/x86_64/10.md
Labels: debian

changelog update for rocky_9-x86_64
  rocky/x86_64/9.md
Labels: rocky

changelog update for rocky_9-aarch64
  rocky/aarch64/9.md
Labels: rocky

Initial changelog for vmware esxi
  vmware-esxi/x86_64/7.md
Labels: none

Add date to OSV / OS
  vmware-esxi/x86_64/7.md
Labels: none

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for alma_9-aarch64
  alma/aarch64/9.md
Labels: alma

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for alma_8-x86_64
  alma/x86_64/8.md
Labels: alma

changelog update for ubuntu_22_04-x86_64-added_drivers
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for rocky_8-aarch64
  rocky/aarch64/8.md
Labels: rocky

changelog update for ubuntu_18_04-x86_64
  ubuntu/x86_64/18_04.md
Labels: ubuntu

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

.github/labeler.yml:

alma:
  - "alma/**"
alpine:
  - "alpine/**"
centos:
  - "centos/**"
debian:
  - "debian/**"
rhel:
  - "rhel/**"
rocky:
  - "rocky/**"
ubuntu:
  - "ubuntu/**"
windows:
  - "windows/**"
