Repository equinixmetal-images/changelog, changes with the labels that .github/labeler.yml gives for each.
All labels: alma, alpine, centos, debian, rhel, rocky, ubuntu, windows

.github/labeler.yml:

alma:
  - "alma/**"
alpine:
  - "alpine/**"
centos:
  - "centos/**"
debian:
  - "debian/**"
rhel:
  - "rhel/**"
rocky:
  - "rocky/**"
ubuntu:
  - "ubuntu/**"
windows:
  - "windows/**"

changelog update for ubuntu_22_04-x86_64-w3tintel_8358_512_6080
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for debian_11-x86_64-added_drivers
  debian/x86_64/11.md
Labels: debian

changelog update for ubuntu_22_04-x86_64-w3tintel_8358_512_6080
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for rocky_8-x86_64
  rocky/x86_64/8.md
Labels: rocky

changelog update for alma_8-x86_64
  alma/x86_64/8.md
Labels: alma

changelog update for ubuntu_24_04-x86_64
  ubuntu/x86_64/24_04.md
Labels: ubuntu

changelog update for rhel_8-x86_64
  rhel/x86_64/8.md
Labels: rhel

changelog update for alma_8-x86_64-added_drivers
  alma/x86_64/8.md
Labels: alma

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for ubuntu_22_04-x86_64
  ubuntu/x86_64/22_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for alpine_3-x86_64
  alpine/x86_64/3.md
Labels: alpine

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for debian_12-x86_64
  debian/x86_64/12.md
Labels: debian

changelog update for rhel_9-x86_64
  rhel/x86_64/9.md
Labels: rhel

changelog update for rocky_8-aarch64
  rocky/aarch64/8.md
Labels: rocky

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for ubuntu_24_04-aarch64
  ubuntu/aarch64/24_04.md
Labels: ubuntu

changelog update for alma_9-x86_64
  alma/x86_64/9.md
Labels: alma

changelog update for alma_8-aarch64
  alma/aarch64/8.md
Labels: alma

changelog update for rocky_9-x86_64
  rocky/x86_64/9.md
Labels: rocky

changelog update for debian_11-x86_64
  debian/x86_64/11.md
Labels: debian

changelog update for debian_12-x86_64
  debian/x86_64/12.md
Labels: debian

changelog update for debian_11-x86_64-added_drivers
  debian/x86_64/11.md
Labels: debian

changelog update for debian_11-aarch64
  debian/aarch64/11.md
Labels: debian

changelog update for debian_12-aarch64
  debian/aarch64/12.md
Labels: debian

Changelog update for windows 2022
  windows 2022/windows_2022.md
Labels: none

Changelog update for flatcar
  flatcar/flatcar_stable.md
Labels: none

remove: EOL OSes
  alma/aarch64/8.md
  alma/aarch64/9.md
  alma/x86_64/8.md
  alma/x86_64/9.md
  alpine/aarch64/3.md
  alpine/x86_64/3.md
  freebsd 13/freebsd_13.md
  freebsd/arm64/13_1.md
  freebsd/arm64/13_2.md
  freebsd/arm64/14_0.md
  freebsd/x86_64/13_1.md
  freebsd/x86_64/13_2.md
  freebsd/x86_64/14_0.md
Labels: alma, alpine

update: README with newly EOL OSes
  README.md
Labels: none

Update vmware-esxi changelog
  vmware-esxi/x86_64/7.md
  vmware-esxi/x86_64/8.md
Labels: none

Changelog update for vyos
  vyos/vyos_1_4.md
Labels: none

changelog update for ubuntu_22_04-aarch64
  ubuntu/aarch64/22_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64
  ubuntu/x86_64/20_04.md
Labels: ubuntu

changelog update for ubuntu_24_04-aarch64
  ubuntu/aarch64/24_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-aarch64
  ubuntu/aarch64/20_04.md
Labels: ubuntu

changelog update for ubuntu_20_04-x86_64-added_drivers
  ubuntu/x86_64/20_04.md
Labels: ubuntu
